.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.nav-menu-container {
  padding-top: 24px;
}

.tab-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: inline-block;
  padding: 12px;
  font-size: 1.25em;
}
