.message-container {
  padding: 12px 24px;
}

.message-container > div + div > div {
  padding-left: 12px;
}

.text-success {
  color: #67C23A !important;
}

.text-warning {
  color: #E6A23C !important;
}

.text-info {
  color: #409EFF !important;
}

.text-error {
  color: #F56C6C !important;
}
